body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #ff4081;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #ff4081;
}
